---
import { getAbsoluteLocaleUrl } from 'astro:i18n'
import yaml from 'js-yaml'

import Layout from '~/layouts/Layout.astro'
import Footer from '~/components/Footer.astro'

import { defaultLocale } from '~/i18n'
const _url = (path?: string) => getAbsoluteLocaleUrl(Astro.currentLocale ?? defaultLocale, path)

import aboutYml from '~/data/about.yml?raw'
const about = yaml.load(aboutYml) as any

export interface Props
{
	containerClass?: string
	home?: boolean
	avatar?: boolean
	title: string
}

const {
	home = false,
	avatar = false,
	title,
} = Astro.props
---

<Layout
	title={title}
	socialUrl={Astro.site}
>

	<main id="main">
		<div class:list={['container', Astro.props.containerClass]}>
			{!home &&
				<a href={_url('/')}>
					&lsaquo; Back to home page
				</a>
			}

			<div class="title">
				{avatar && about.avatar && (
					(
						about.avatar.src &&
						<img src={about.avatar.src} alt={about.avatar.alt || undefined} />
					) ||
					(
						about.avatar.file &&
						<img src={_url(about.avatar.file)} alt={about.avatar.alt || undefined} />
					) ||
					(
						<img src={about.avatar} />
					)
				)}

				<h1>{title}</h1>
			</div>

			<slot />
		</div>
	</main>

	<Footer />

</Layout>

<style>
	:global(html) {
		display: flex;
		height: 100%;
		justify-content: center;
		box-sizing: border-box;
	}

	:global(body) {
		display: flex;
		background: #202020;
		width: 100%;
		min-height: 100%;
		padding: 2em 1em;
		flex-direction: column;
		color: #f0f0f0;
	}
	@media print { :global(body) { color: #000 } }
	body.page-error { background: #903030 }

	:global(a) { color: #50a0f0 }
	:global(a):hover { color: #4080c0 }

	:global(hr) { border-color: rgba(255, 255, 255, .1) }

	@media (min-width: 576px) { :global(.mw-sm) { max-width: 540px } }
	@media (min-width: 768px) { :global(.mw-md) { max-width: 720px } }
	@media (min-width: 992px) { :global(.mw-lg) { max-width: 960px } }
	@media (min-width: 1200px) { :global(.mw-xl) { max-width: 1140px } }


	/** Main wrapper */

	#main {
		display: block;
		width: 100%;
		margin: auto;
	}


	/** Special wrappers */

	.title {
		margin-bottom: 1rem;
		padding-bottom: .5rem;
		border-bottom: 2px solid #808080;
		text-align: center;
	}
	.title h1 { font-weight: bold; margin-bottom: 0 }
	.title img {
		display: block;
		max-height: 120px;
		margin: 0 auto .5rem;
		border: 2px solid #306090;
		border-radius: 5px;
	}

	@media (min-width: 576px) {
		.title { text-align: left }
		.title img, .title h1 { display: inline-block; vertical-align: bottom }
		.title img { margin-bottom: 0; margin-right: 1rem } }
</style>
