---
import { getAbsoluteLocaleUrl } from 'astro:i18n'
import yaml from 'js-yaml'

import Default from '~/layouts/Default.astro'

import { defaultLocale } from '~/i18n'
const _url = (path?: string) => getAbsoluteLocaleUrl(Astro.currentLocale ?? defaultLocale, path)

import aboutYml from '~/data/about.yml?raw'
const about = yaml.load(aboutYml) as any

const title = 'Mathieu GUÉRIN'
---

<Default
	isHome={true}
	showAvatar={true}
	title={title}
>

	<div class="row">
		<div class="col-lg-5 mb-4 mb-lg-0 text-center text-sm-left">
			<p>
				Currently in my final year as an IT engineer student at <a href="https://www.epita.fr/">EPITA</a> in Data Science and Artificial Intelligence.
				I'm also skilled as a back-end developer, leaning full-stack in web development.
				I am involved in various projects both as part of my curriculum, and as a hobby.
			</p>
			<p>
				I am currently looking for a job or internship starting in February 2023.
				I would welcome any opportunity to grow my expertise in fields such as Data Science, Artificial Intelligence or Big Data.
			</p>
			<p>
				On this website you can find information about me and my projects.
				You can also find me on the following platforms:
			</p>
			<ul class="social-icons">
				{['linkedin', 'github'].map(service =>
					about.social[service]
						? <Fragment>
							<li class={service}>
								<a href={about.social[service].href}>
									<i class={`${about.social[service].icon} fa-fw`}></i>
								</a>
							</li>
							{' '}
						</Fragment>
						: undefined
				)}
			</ul>
			<p>
				You can contact me via: <br />
				<i class={about.social.telegram.icon}></i> <a href={about.social.telegram.href}>Telegram</a>, or <br />
				<i class={about.social.discord.icon}></i> <a href={about.social.discord.href}>Discord</a> ({about.social.discord.handle}), or <br />
				<i class={about.social.proemail.icon}></i> <a href={about.social.proemail.href}>Email</a>, for professional inquiries
			</p>
		</div>
		<div class="col-lg-7">
			<div class="list-group list-group-dark">
				<!-- <a href="https://matiboux.com/" class="list-group-item list-group-item-action">
					<i class="fas fa-archive fa-fw"></i> Projects Platform</a> -->
				<a href="https://matiboux.dev/" class="list-group-item list-group-item-action">
					<i class="fab fa-github fa-fw"></i> Open-Source Repositories</a>
				<a href={_url('/cv')} class="list-group-item list-group-item-action">
					<i class="fas fa-id-card fa-fw"></i> Curriculum Vitae (detailed)</a>
				<a href="https://resume.matiboux.me/" class="list-group-item list-group-item-action">
					<i class="fas fa-file-lines fa-fw"></i> Resume (printable PDF)</a>
				<a href={_url('/timeline')} class="list-group-item list-group-item-action">
					<i class="fas fa-stream fa-fw"></i> Work timeline</a>
				<a href={_url('/about')} class="list-group-item list-group-item-action">
					<i class="fas fa-user fa-fw"></i> About me</a>
				<a href={_url('/donate')} class="list-group-item list-group-item-action">
					<i class="far fa-heart fa-fw"></i> Donate</a>
				<a href={_url('/legal')} class="list-group-item list-group-item-action">
					<i class="fas fa-balance-scale fa-fw"></i> Legal</a>
			</div>
		</div>
	</div>

</Default>

<style>
	.social-icons { list-style: none; padding: 0 }
	.social-icons li { display: inline; font-size: 2em }
	.social-icons li a { color: #f0f0f0; text-decoration: none }
	.social-icons li a:hover, .social-icons li a:focus { color: #50a0f0 }

	.list-group-dark .list-group-item { background-color: #404040 }
	.list-group-dark .list-group-item-action { color: #f0f0f0 }
	.list-group-dark .list-group-item-action:hover,
	.list-group-dark .list-group-item-action:focus
		{ color: #f0f0f0; background-color: #3c3c3c }
	.list-group-dark .list-group-item-action:active { color: #f0f0f0; background-color: #383838 }
</style>
